.checkbox {
  --checkbox-bg: var(--color-white);
  --checkbox-bg-hover: var(--color-neutral-50);
  --checkbox-bg-checked: var(--color-pink-300);

  --checkbox-border: var(--color-neutral-300);
  --checkbox-border-checked: var(--color-neutral-900);

  --checkbox-text: var(--color-neutral-900);
  --checkbox-ring: var(--color-pink-300);

  background-color: var(--checkbox-bg);
  border: 1px solid var(--checkbox-border);
  height: 1.5em;
  width: 1.5em;
  border-radius: var(--radius-md);
  position: relative;
  appearance: none;
  vertical-align: text-top;
  margin-right: 0.5em;
  color: transparent;
  transition: all 0.1s ease;

  &:focus-visible {
    outline: 2px solid var(--checkbox-ring);
    outline-offset: 4px;
  }

  &:hover:not(:disabled, :checked) {
    background-color: var(--checkbox-bg-hover);
  }

  &:checked {
    background-color: var(--checkbox-bg-checked);
    border-color: var(--checkbox-border-checked);
    color: var(--checkbox-text);
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25em;
    height: 1.25em;
    mask-image: var(--icon-check);
    -webkit-mask-image: var(--icon-check);
    background-color: currentColor;
    transform: translate(-50%, -50%);
    inset: 50%;
  }

  &:disabled {
    opacity: 75%
  }
}
