details.disclosure {
  position: relative;

  summary {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;

    &:after {
      content: "";
      height: 1.25em;
      width: 1.25em;
      display: block;
      margin-left: auto;
      transition: all 0.2s ease-in-out;
      background-color: currentColor;
      -webkit-mask-image: var(--icon-chevron);
      mask-image: var(--icon-chevron);
    }

    &::-webkit-details-marker {
      display: none;
    }
  }
}

details.disclosure[open] summary:after {
  transform: rotate(180deg);
}
