.radio {
  --radio-bg: var(--color-white);
  --radio-bg-hover: var(--color-neutral-50);
  --radio-bg-checked: var(--color-pink-300);

  --radio-dot: transparent;
  --radio-dot-checked: var(--color-neutral-950);

  --radio-border: var(--color-neutral-300);
  --radio-border-checked: var(--color-neutral-900);

  --radio-ring: var(--color-pink-400);

  appearance: none;
  position: relative;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  border: solid 1px var(--radio-border);
  border-radius: 100%;
  vertical-align: text-top;
  transition: all 0.2s ease;
  background-color: var(--radio-bg);

  &:before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    border-radius: 100%;
    inset: 0;
    margin: auto;

    background-color: var(--radio-dot);
  }

  &:hover {
    background-color: var(--radio-bg-hover);
  }

  &:checked {
    --radio-dot: var(--radio-dot-checked);

    background-color: var(--radio-bg-checked);
    border-color: var(--radio-border-checked);
  }

  &:focus-visible {
    outline: 2px solid var(--radio-ring);
  }

  &:disabled {
    opacity: 75%;
  }
}
